/* 2. The text should be white and background black.*/
/* 4. The text should be center aligned. */
html{
    background-color: black;
    color: white;
}

/* 1. The main h1 text should be using the Regular Libre Baskerville Font from Google Fonts
   6. Read about the text-transform property on MDN docs to make the h1 uppercase with CSS.
      https://developer.mozilla.org/en-US/docs/Web/CSS/text-transform  */

h1{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

#meme{
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

/* It should have a 5px white border.*/
img{
    border: 5px solid white;
    width: 100%;
}

/* 5.  Adjust the margins so that the image and text are centered on the page. 
  Hint: You horizontally center a div by giving it a width of 50% and a margin-left of 25%.
  Hint: Set the image to have a width of 100% so it fills the div.  */